---
import Hero from "../components/Hero.tsx";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.tsx";
import Projects from "../components/Projects.tsx";
import TechStack from "../components/TechStack.tsx";
import About from "../components/About.tsx";
import Footer from "../components/Footer.tsx";
import ContactModal from "../components/ContactModal.tsx";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="max-w-4xl mx-auto px-6">
		<Hero client:load />
		<Experience client:visible />
		<Projects client:visible />
		<TechStack client:visible />
		<About client:visible />
		<Footer client:load />
		<ContactModal client:load />
	</main>
</Layout>
